@font-face {
    font-family: Tanha-FD;
    src: url(../fonts/Tanha-FD.ttf);
}
*{
    direction: rtl;
    font-family: Tanha-FD;
    box-sizing: border-box;
}
@font-face {
    font-family: SaintCarell;
    src: url(../fonts/SaintCarell.otf);
}

body{
    font-size: 16px;
    margin: 0px;
}

a{
    text-decoration: none;
}